<div class="card">
  <div class="card-body">
    <dl>
      <dt>EAN</dt>
      <dd>{{result.ean}}</dd>

      <dt>Nome</dt>
      <dd>{{result.name}}</dd>

      <dt>Probabilidade</dt>
      <dd>{{result.probability | percent}}</dd>
    </dl>
  </div>
</div>
