<div class="container">
  <form (submit)="search()">
    <div class="input-group">
      <input type="text" name="description" class="form-control"
        [(ngModel)]="description">
      <div class="input-group-append">
        <button type="submit" aria-label="Search" class="btn btn-primary"
          [disabled]="!description">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <app-search-result *ngIf="result" [result]="result"></app-search-result>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ error }}
  </div>
</div>
